.content {
    display: flex;
    background: rgb(243, 241, 241);
}

.logo {
    position: absolute;
    width: 565px;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 5.2em;
    font-family: roboto; 
}

.form {
    background: white;
    text-align: left;
    font-size: 0.8em;
    font-family: roboto;
    box-shadow: 10px 10px 5px lightgray;
    width: 800px;
    max-height: 500px;
    margin: 8px 0;
    padding: 20px 20px 0;
    position: relative;
    
}

.form .signup {
    color: rgb(96, 11, 25);
    font-size: 1.2em;
    font-family: roboto;
    margin: 8px 12px;
}

.cell {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 33%;
}

.error {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    width: 33%;
}

input {
    box-sizing: border-box;
    width: 200px;
    border: solid black 1px;
    padding: 5px;
    margin: 10px 10px 10px 0;
}

.form .input-boxes {
    background-color: #FFF;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 3rem;
}


.quote-container {
    color: #1F2937;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-flow: column wrap;
    padding: 80px 0px;
}

fieldset {
    border: none;
    display: flex;
    gap: 4rem;
}

.quote {
    font-size: 2em;
    color: rgb(96, 11, 25);
    padding: 0px 20px;
}

button {
    border-radius: 8px;
    background: #146c00;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    padding: 15px 64px;
    box-shadow: 5px 5px 5px lightgray;
}

.continue {
    display: flex;
        padding: 30px 30px 0px;
}

.login {
    display: flex;
    padding: 40px 40px 10px;
}

.error_message {
    color: red;
}
